{% extends "html/base.html" %}
{% load static i18n %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ anime_detail.name }} - {% trans "Details" %}</title>
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>

{% block content %}
<section>
  <div class="center">
    {% block anime-detail %}
      <link rel="stylesheet" href="{% static 'css/styles_content_detail.css' %}">
      <div class="detail-container">

        <div class="item cover-picture">
          {% if anime_detail.picture.url %}
            <img src="{{ anime_detail.picture.url }}" alt="{{ anime_detail.name }} {% trans 'cover picture' %}" class="img-fluid" style="border-radius: 5px;">
          {% else %}
            <img src="{% static 'images/list_detail_default.jpg' %}" alt="{{ anime_detail.name }} {% trans 'cover picture' %}" class="img-fluid" style="border-radius: 5px;">
          {% endif %}
        </div>

        <div class="item anime-title">
          <h1>{{ anime_detail.name }}</h1>
        </div>

        <div class="item status-button">
          <button style="height: 100%; width: 100%; border-radius: 5px;">
            <span style="justify-content: center;">
              <svg data-v-9ba4cb7e="" data-v-8d292eb9="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="icon mr-4" style="color: currentcolor;">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 8A6 6 0 1 0 6 8c0 7-3 9-3 9h9m6.63-4A17.9 17.9 0 0 1 18 8m-4.27 13a2 2 0 0 1-3.46 0M17 18l2 2 4-4"></path>
              </svg>{% if favorite %}
              {{ favorite.get_status_display}}
            {% else %}
            {% trans "Add to favorite list" %}
            {% endif %}</span>
          </button>
          <ul>
            <li style="color: black;">
              <form action="{% url 'update_favorite_status' anime_detail.cid %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value="0">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">{% trans "No status" %}</button>
              </form>
            </li>
            <li style="color: black;">
              <form action="{% url 'update_favorite_status' anime_detail.cid %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value="1">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">{% trans "Watching" %}</button>
              </form>
            </li>
            <li style="color: black;">
              <form action="{% url 'update_favorite_status' anime_detail.cid %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value="2">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">{% trans "Completed" %}</button>
              </form>
            </li>
            <li style="color: black;">
              <form action="{% url 'update_favorite_status' anime_detail.cid %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value="3">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">{% trans "On Hold" %}</button>
              </form>
            </li>
            <li style="color: black;">
              <form action="{% url 'update_favorite_status' anime_detail.cid %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value="4">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">{% trans "Dropped" %}</button>
              </form>
            </li>
            <li style="color: black;">
              <form action="{% url 'update_favorite_status' anime_detail.cid %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value="5">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">{% trans "Re-Watching" %}</button>
              </form>
            </li>
            <li style="color: black;">
              <form action="{% url 'update_favorite_status' anime_detail.cid %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value="6">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">{% trans "Plan to Watch" %}</button>
              </form>
            </li>
          </ul>
        </div>

        <div class="item rate-button">
          <button style="height: 100%; width: 100%; border-radius: 5px;">
            <span style="justify-content: center;">
              <svg data-v-9ba4cb7e="" data-v-8d292eb9="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-star icon" viewBox="0 0 24 24" style="color: currentcolor;">
                <path d="m12 2 3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01z"></path>
              </svg>{% trans "Rate it" %}</span>
          </button>
          <ul>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(10) {% trans 'Masterpiece' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(9) {% trans 'Great' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(8) {% trans 'Very Good' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(7) {% trans 'Good' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(6) {% trans 'Fine' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(5) {% trans 'Average' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(4) {% trans 'Bad' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(3) {% trans 'Very Bad' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(2) {% trans 'Horrible' %}</a>
            </li>
            <li style="color: black;">
              <a href="#" style="text-decoration: none; color: inherit;">(1) {% trans 'Appalling' %}</a>
            </li>
          </ul>
        </div>

        <div class="item average-score-display">
          <p style=" text-align:center; vertical-align: middle;"><strong>{% trans 'Average Score:' %}</strong> {{ anime_detail.scoreAvg }}</p>
          {% if score_ %}
            <ul class="score-list">
              {% for score in score_ %}
                <li>{% trans 'Score 10' %}: {{ score.score10 }}</li>
                <li>{% trans 'Score 9' %}: {{ score.score9 }}</li>
                <li>{% trans 'Score 8' %}: {{ score.score8 }}</li>
                <li>{% trans 'Score 7' %}: {{ score.score7 }}</li>
                <li>{% trans 'Score 6' %}: {{ score.score6 }}</li>
                <li>{% trans 'Score 5' %}: {{ score.score5 }}</li>
                <li>{% trans 'Score 4' %}: {{ score.score4 }}</li>
                <li>{% trans 'Score 3' %}: {{ score.score3 }}</li>
                <li>{% trans 'Score 2' %}: {{ score.score2 }}</li>
                <li>{% trans 'Score 1' %}: {{ score.score1 }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>{% trans 'No scores available.' %}</p>
          {% endif %}
        </div>

        <!-- css not load corectly, 0.7h for this so have to use inline style -->
        <div class="item favorite-display"  onmouseover="this.querySelector('.favorite-display-list').style.display='block';" onmouseout="this.querySelector('.favorite-display-list').style.display='none';">
          <p style=" text-align:center; vertical-align: middle;"><strong>{% trans 'Favorites' %}:</strong> {{ anime_detail.favorites }}</p>
          <ul class="favorite-display-list" style="  display: none; position: relative; top: -55px; padding: 55px 0 0 0; margin: 0;">
          <!-- <ul class="favorite-display-list"> -->
            <li style="background: #474f49; padding: 10px; list-style: none;"><strong>{% trans 'Watching' %}:</strong> {{ anime_detail.watching }}</li>
            <li style="background: #474f49; padding: 10px; list-style: none;"><strong>{% trans 'Completed' %}:</strong> {{ anime_detail.completed }}</li>
            <li style="background: #474f49; padding: 10px; list-style: none;"><strong>{% trans 'On Hold' %}:</strong> {{ anime_detail.onHold }}</li>
            <li style="background: #474f49; padding: 10px; list-style: none;"><strong>{% trans 'Dropped' %}:</strong> {{ anime_detail.dropped }}</li>
            <li style="background: #474f49; padding: 10px; list-style: none;"><strong>{% trans 'Plan to Watch' %}:</strong> {{ anime_detail.planToWatch }}</li>
          </ul>
        </div>

        <div class="item info1">
          <h3>{% trans "More info:" %}</h3>
          <p><strong>{% trans 'Type' %}:</strong> {{ anime_detail.cType }}</p>
          <p><strong>{% trans 'Episodes' %}:</strong> {{ anime_detail.episodes }}</p>
          <p><strong>{% trans 'Aired' %}:</strong> {{ anime_detail.aired }}</p>
          <p><strong>{% trans 'Genres' %}:</strong> {{ anime_detail.genres }}</p>
          <p><strong>{% trans 'Producers' %}:</strong> {{ anime_detail.producers }}</p>
          <p><strong>{% trans 'Licensors' %}:</strong> {{ anime_detail.licensors }}</p>
          <p><strong>{% trans 'Studios' %}:</strong> {{ anime_detail.studios }}</p>
          <p><strong>{% trans 'Source' %}:</strong> {{ anime_detail.source }}</p>
          <p><strong>{% trans 'Duration' %}:</strong> {{ anime_detail.duration }}</p>
          <p><strong>{% trans 'Rating' %}:</strong> {{ anime_detail.rating }}</p>
          <p><strong>{% trans 'Ranked' %}:</strong> {{ anime_detail.ranked }}</p>
        </div>

        <div class="comments-section">
          <h3>{% trans "Comment:" %}</h3>
          <div class="comment-box">
            {% if userr %}
            <form action="{% url 'post_comment' anime_detail.cid %}" method="POST">
              {% csrf_token %}
              <textarea name="content" rows="4" cols="50" placeholder="{% trans 'Write your comment here...' %}"></textarea>
              <button type="submit">{% trans "Submit" %}</button>
            </form>
            {% else %}
              <textarea name="content" rows="4" cols="50" placeholder="{% trans 'Write your comment here...' %}"></textarea>
              <button>{% trans "Submit" %}</button>
            {% endif %}
          </div>

          <div class="comment-list">
            {% if comments %}
            {% for comment in comments %}
              <div class="comment-item">
                <div class="comment-header">
                  {% if comment.uid.profilePicture %}
                      <img src="user1-avatar.jpg" alt="User {{ comment.uid.username }} Avatar" class="avatar">
                  {% else %}
                      <img src="{% static 'images/list_detail_default.jpg' %}" class="avatar" alt="Default avatar">
                  {% endif %}
                  <img src="{% static 'images/list_detail_default.jpg' %}" class="avatar" alt="Default avatar">
                  <div class="comment-text">
                    <p><strong>{{ comment.uid.username }}:</strong> {{ comment.content }}</p>
                    <p class="cmt-date">{{ comment.dateOfCmt }}</p>
                  </div>
                </div>
                <div class="comment-actions">
                  <button type="button">{% trans "Like" %}</button>
                  <button type="button">{% trans "Reply" %}</button>
                  {% if comment.uid == userr%}
                    <div class="edit-cmt-div">
                      <button type="button" class="edit-cmt-button">Edit</button>
                      <form class="edit-cmt-form" action="{% url 'edit_comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <textarea name="content" rows="4" cols="50">{{ comment.content }}</textarea>
                        <button type="submit">{% trans "Save" %}</button>
                        <a href="{% url 'anime_detail' anime_detail.cid %}" style="text-decoration: none; padding: 10px;">
                          <button type="button">{% trans "Cancel" %}</button>
                        </a>
                      </form>
                    </div>
                    <div class="delete-cmt-div">
                      <button type="button" class="delete-cmt-button">{% trans "Delete" %}</button>
                      <div class="confirm-del-cmt">
                        <p><strong>{% trans 'Are you sure to delete the comment?' %}</strong></p>
                        <form action="{% url 'delete_comment' comment.id %}" method="post">
                          {% csrf_token %}
                          <button type="submit">{% trans "Yes!" %}</button>
                          <a href="{% url 'anime_detail' anime_detail.cid %}" style="text-decoration: none; padding: 10px;">
                            <button type="button">{% trans "Nah, I'd win" %}</button>
                          </a>
                        </form>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="see-more">
              {% if is_paginated %}
                <div class="pagination">
                  <span class="step-links">
                    {% if comments.has_previous %}
                      <a href="?page=1">&laquo; {% trans "first" %}</a>
                      <a href="?page={{ comments.previous_page_number }}">{% trans "Previous" %}</a>
                    {% endif %}

                    <span class="current">
                      Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
                    </span>

                    {% if comments.has_next %}
                      <a href="?page={{ comments.next_page_number }}">{% trans "Next" %}</a>
                      <a href="?page={{ comments.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
                    {% endif %}
                  </span>
                </div>
              {% else %}
                <a href="https://youtu.be/dQw4w9WgXcQ?si=70pc7Pd7EiJ0aG-3" style="text-decoration: none; color: inherit;">
                  <button type="button">{% trans "See more comment" %}</button>
                </a>
              {% endif %}
            </div>

            {% else %}
              <div class="comment-item">
                <div class="comment-header">
                  <img src="{% static 'images/list_detail_default.jpg' %}" class="avatar" alt="Default avatar">
                  <p><strong>{% trans "WYSI:" %}</strong>{% trans "No comments yet. Be the first to comment!" %} </p>
                  <small>30/2/4727</small>
                </div>
                <div class="comment-actions">
                  <button type="button">{% trans "Like" %}</button>
                  <button type="button">{% trans "Reply" %}</button>
                </div>
              </div>
            {% endif %}
        </div>
      </div>

    {% endblock anime-detail %}
  </div>

</section>
{% endblock %}

