<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load static i18n %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans "Change Password" %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <h2>{% trans "Change Password" %}</h2>
      <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}

        <div class="form-group">
          {{ form.old_password.label_tag }}
          {{ form.old_password }}
          {% if form.old_password.errors %}
            <div class="text-danger">{{ form.old_password.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.new_password.label_tag }}
          {{ form.new_password }}
          {% if form.new_password.errors %}
            <div class="text-danger">{{ form.new_password.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.new_password_confirmation.label_tag }}
          {{ form.new_password_confirmation }}
          {% if form.new_password_confirmation.errors %}
            <div class="text-danger">{{ form.new_password_confirmation.errors }}</div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
  </div>
</body>
</html>
