{% load static %}
{% load static i18n %}
<header>
  <h1 class="mywibulist-title">
      <a href="#" class="mywibulist-link">MYWIBULIST</a>
  </h1>
  <nav>
      <ul>
          <li><a href="#">{% trans "HOME" %}</a></li>
          <li>
              <a href="#">{% trans "CATEGORIES" %} <i class="fa-solid fa-chevron-down"></i></a>
              <ul class="submenu">
                  <li><a href="{% url 'anime' %}">Anime</a></li>
                  <li><a href="{% url 'manga' %}">Manga</a></li>
              </ul>
          </li>
          <li>
              <a href="#">TOP<i class="fa-solid fa-chevron-down"></i></a>
              <ul class="submenu">
                  <li><a href="">{% trans "By Day" %}</a></li>
                  <li><a href="">{% trans "By Month" %}</a></li>
                  <li><a href="">{% trans "By Year" %}</a></li>
                  <li><a href="">{% trans "Favorites" %}</a></li>
                  <li><a href="">{% trans "Popular" %}</a></li>
                  <li><a href="">{% trans "By Season" %}</a></li>
              </ul>
          </li>
          <li>
            <a href="#">{% trans "GENRE" %}<i class="fa-solid fa-chevron-down"></i></a>
            <ul class="submenu">
              <li><a href="{% url 'filter_by_genre' genre='Action' %}">{% trans "Action" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Comedy' %}">{% trans "Comedy" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Drama' %}">{% trans "Drama" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Game' %}">{% trans "Game" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Horror' %}">{% trans "Horror" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Adventure' %}">{% trans "Adventure" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Dementia' %}">{% trans "Dementia" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Ecchi' %}">{% trans "Ecchi" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Harem' %}">{% trans "Harem" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Josei' %}">{% trans "Josei" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Cartoon' %}">{% trans "Cartoon" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Demons' %}">{% trans "Demons" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Fantasy' %}">{% trans "Fantasy" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Historical' %}">{% trans "Historical" %}</a></li>
              <li><a href="{% url 'filter_by_genre' genre='Kids' %}">{% trans "Kids" %}</a></li>
            </ul>
          </li>
          <li>
              <a href="#">{% trans "SEASON" %} <i class="fa-solid fa-chevron-down"></i></a>
              <ul class="submenu">
                  <li><a href="#">{% trans "Winter 2024" %}</a></li>
                  <li><a href="#">{% trans "Fall 2024" %}</a></li>
                  <li><a href="#">{% trans "Summer 2024" %}</a></li>
                  <li><a href="#">{% trans "Spring 2024" %}</a></li>
                  <li><a href="#">{% trans "Winter 2023" %}</a></li>
                  <li><a href="#">{% trans "Fall 2023" %}</a></li>
                  <li><a href="#">{% trans "Summer 2023" %}</a></li>
                  <li><a href="#">{% trans "Spring 2023" %}</a></li>
                  <li><a href="#">{% trans "Winter 2022" %}</a></li>
                  <li><a href="#">{% trans "Fall 2022" %}</a></li>
                  <li><a href="#">{% trans "Summer 2022" %}</a></li>
                  <li><a href="#">{% trans "Spring 2022" %}</a></li>
                  <li><a href="#">{% trans "Winter 2021" %}</a></li>
                  <li><a href="#">{% trans "Fall 2021" %}</a></li>
                  <li><a href="#">{% trans "Summer 2021" %}</a></li>
              </ul>
          </li>
          <li><a href="#">{% trans "LIBRARY" %}</a></li>
          <li><a href="{% url 'product' %}">{% trans "PRODUCTS" %}</a></li>
      </ul>
  </ul>
  <div class="timkiem">
      {% block search %}
      <div class="searchbox">
          <form action="{% url 'search_content' %}" method="get" onsubmit="return false;">
              <input type="text" name="q" id="search-input" placeholder="{% trans 'Tìm: tên tiếng Nhật, Anh, Việt' %}" onkeypress="if(event.keyCode === 13) this.form.submit();">
              <i class="fa-solid fa-magnifying-glass" onclick="document.getElementById('search-input').focus();"></i>
          </form>
      </div>
      {% endblock %}
      {% block user_area %}
        {% if userr %}
        <div class="notification-icon">
          <a href="#">
              <img src="{% static 'images/bell.png' %}" alt="Notification Icon" width="30" height="30" class="notification-icon">
          </a>
          <div class="notification-content">
          </div>
      </div>

      <div class="user-dropdown">
        <a href="#">
            <img src="{% static 'images/user.png' %}" alt="{% trans 'User Icon' %}" width="30" height="30" class="user-icon">
        </a>
        <div class="user-menu">
            <ul>
                <li><a href="#">{% trans 'Profile' %}</a></li>
                <li><a href="#">{% trans 'My Cart' %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
            </ul>
        </div>
    </div>
    {% else %}
        <div class="buttonlogin">
            <button type="button" onclick="window.location.href='/login'">{% trans 'Login' %}</button>
            <button type="button" onclick="window.location.href='/register'">{% trans 'Register' %}</button>
        </div>
    {% endif %}
      {% endblock %}
        </div>
</nav>
</header>
