{% extends 'html/homepage.html' %} {% load static %} {% load static i18n %} {%
block notification %} {% endblock notification %} {% block top_carousel %} {%
endblock top_carousel %} {% block anime_carousel %} {% endblock anime_carousel
%} {% block latest_updates %}
<div class="row mt-4">
  <div class="col-12">
    <h5 class="text-white">{% trans "Wibu Warehouse" %}</h5>
    <div class="d-flex justify-content-between mb-2">
      <a
        href="?sort_by=highest_rate"
        class="btn btn-outline-light {% if current_sort == 'highest_rate' %}active{% endif %}"
        >{% trans "Highest rate" %}</a
      >
      <a
        href="?sort_by=low_to_high"
        class="btn btn-outline-light {% if current_sort == 'low_to_high' %}active{% endif %}"
        >{% trans "Low to high price" %}</a
      >
      <a
        href="?sort_by=high_to_low"
        class="btn btn-outline-light {% if current_sort == 'high_to_low' %}active{% endif %}"
        >{% trans "High to low price" %}</a
      >
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <a
          href="{% url 'product_detail' pid=product.pid %}"
          class="text-decoration-none"
        >
          <div class="card bg-light text-dark">
            {% if product.picture %}
            <img
              src="{{ product.picture.url }}"
              class="card-img-top"
              alt="{{ product.name }}"
            />
            {% else %}
            <img
              src="{% static 'images/default-product.jpg' %}"
              class="card-img-top"
              alt="Default Image"
            />
            {% endif %}
            <div class="card-body">
              <h6 class="card-title">{{ product.name }}</h6>
              <p class="card-text">Price: ${{ product.price }}</p>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Rating: {{ product.ravg }}</p>
            </div>
          </div>
        </a>
      </div>
      {## Removed the extra
    </div>
    here #} {% endfor %}
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ products.previous_page_number }}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %} {% for num in products.paginator.page_range %} {% if
      products.number == num %}
      <li class="page-item active">
        <span class="page-link">{{ num }}</span>
      </li>
      {% elif num > products.number|add:'-3' and num < products.number|add:'3'
      %}
      <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %} {% endfor %} {% if products.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ products.next_page_number }}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ products.paginator.num_pages }}"
          aria-label="Last"
        >
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock latest_updates %}
