/*For Anime and Manga detail*/

.score-info {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 10;
    width: auto;
    height: auto;
    white-space: nowrap;  /* Prevents line breaks */
}

.score-container:hover .score-info {
    display: block;
}

.score-container {
    position: relative;
    display: inline-block;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}