.list-container {
  display: grid;
  grid-template-rows: 200px 1pf 100px;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
}

/*grid placement*/
.list-container .list-header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.list-container .actual-content-list {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.list-container .content-list-pagination{
  grid-area: 3 / 1 / 4 / 2;
}
/*end of grid placement*/

.list-container .list-header h1 {
  font-size: 3.5rem; /* Adjust the size as needed */
  font-weight: bold; /* Optional: to make the text bold */
  line-height: 1.2; /* Optional: Adjusts the spacing between lines of text */
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: white;
}

/*.actual-content-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}*/

/*display picture and name*/
.content-pic-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

.content-pic-name a img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.content-pic-name a {
  display: block;
  margin-top: 0.5rem;
  color: white; /* Assuming you want white text */
  text-decoration: none;
}

.content-pic-name a:hover {
  text-decoration: underline;
}
/*end of display picture and name*/

/*pagination*/
.content-list-pagination .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.content-list-pagination .pagination button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content-list-pagination .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.content-list-pagination .pagination .current-page {
    font-weight: bold;
    color: #333;
}
