.list-container {
  display: grid;
  grid-template-rows: 200px 1fr 100px; /* Đã sửa 1pf thành 1fr */
  grid-template-columns: repeat(1, 1fr);
  height: auto;
}

/*grid placement*/
.list-container .list-header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.list-container .actual-content-list {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.list-container .content-list-pagination {
  grid-area: 3 / 1 / 4 / 2;
}
/*end of grid placement*/

.list-container .list-header h1 {
  font-size: 3.5rem; /* Adjust the size as needed */
  font-weight: bold; /* Optional: to make the text bold */
  line-height: 1.2; /* Optional: Adjusts the spacing between lines of text */
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: white;
}

/*display picture and name*/
.content-pic-name {
  display: flex;
  flex-direction: column; /* Sắp xếp hình ảnh và tên theo chiều dọc */
  align-items: center; /* Căn giữa hình ảnh và tên */
}

.content-pic-name img {
  width: 220px; /* Đặt kích thước mong muốn cho hình ảnh */
  height: 300px; /* Đặt kích thước mong muốn cho hình ảnh */
  object-fit: cover; /* Giữ tỉ lệ ảnh trong khung hình */
  margin-bottom: 10px; /* Khoảng cách giữa hình ảnh và tên */
}

.content-pic-name a {
  text-decoration: none; /* Xóa gạch chân */
  color: white; /* Màu chữ trắng */
  text-align: center; /* Căn giữa văn bản */
  font-size: 16px;
}

/* Nếu bạn cần thêm các thuộc tính khác cho phần liên kết */
.content-pic-name a:hover {
  color: #ddd; /* Ví dụ: màu chữ thay đổi khi di chuột lên liên kết */
}

/* Nếu bạn muốn áp dụng các thuộc tính khi liên kết đang ở trạng thái active (được nhấn) */
.content-pic-name .content-name a:active {
  text-decoration: none; /* Xóa gạch chân khi liên kết được nhấn */
  color: white; /* Màu chữ trắng khi liên kết được nhấn */
}

/* Nếu bạn muốn áp dụng các thuộc tính khi liên kết đang ở trạng thái visited (đã truy cập) */
.content-pic-name .content-name a:visited {
  text-decoration: none; /* Xóa gạch chân khi liên kết đã được truy cập */
  color: white; /* Màu chữ trắng khi liên kết đã được truy cập */
}

/*pagination*/
.content-list-pagination .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.content-list-pagination .pagination button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content-list-pagination .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.content-list-pagination .pagination .current-page {
    font-weight: bold;
    color: #333;
}
