/* style.css */
body {
  font-family: Arial, sans-serif;
  background-image: url(https://farm9.staticflickr.com/8093/29457229291_c4186edcfb_o.jpg); /* Đổi đường dẫn đến hình nền của bạn */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.9); /* Nền trắng với độ trong suốt */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  padding: 0 55px; /* Thêm padding để tạo khoảng cách xung quanh */
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.form-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
}
